
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');


 
 body{
    background-color: rgb(171, 152, 152);
    color:black;
 }
 .container-first{
    font-style:bold;
 }
 .container-first:hover{
    color:teal;
 }
.container a {
    font-style: italic;
    text-decoration: none;
    padding: 2rem;
    margin-left: 62%;
    color:rgb(24, 22, 22);
}
.container a:hover{
    color:navy;
}
.button{
    font-style: italic;
    background: transparent;
    color:rgb(14, 12, 12);
}
.button:hover{
    color: teal;
}
.image{
    position: relative;
}
.text-overlay-one{
    position: absolute;
    top: 20%; 
     left:20%;
      transform: translate(-156%,-60% );
     color:white;
     font-size: 25px; 
     padding: 10px;
}
.text-overlay-two{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 25%; 
    left: 17%;
    transform: translate(-120%, 50%);
    color:white;
    font-size: 15px; 
    padding: 10px;
}
button{
    position: absolute;
    background:transparent;
    top: 40%; 
    left:13%;
    transform: translate(-110%, 110%);
    color:white;
    font-size: 15px;
    width: 9%; 
    padding: 10px; 
}
button:hover{
    background: transparent;
    box-shadow: 0 0 20px 9px #00fffc;
}
.image-content{
    position: absolute;
    bottom: 55%;
    left: 43%;
    transform: translate(-20%);
    
}
.image-content:hover{
    background-image: url('/mySite/images.jpeg');
    background-repeat: no-repeat;
    height: 250px;
    width: 50%;
    
}

.image-content-one{
    position: absolute;
    bottom: 50%;
    left: 83%;
    transform: translate(-20%);

}

.text-overlay-three{
    font-family:dancing script;
    background-color: #283737;
    -webkit-box-reflect: below
    1px linear-gradient(transparent,#0005);
    box-shadow: 0 0 5px #651fcd, 
    0 0 10px #93b8ba,
     0 0 15px #c6e7e8, 
    0 0 30px #325237;
    color: transparent;
    text-align: center;
    position: absolute;
    top: 10%; 
    left: 17%;
    transform: translate(58%, 62%);
    color:wheat;
    font-size: 30px; 
    animation:5s simran ;

}

@keyframes simran{
    0%{
        top: 0;
        opacity: 0;
    }
    100%{
    
        opacity: 0.5;
    }
}

.text-overlay-three:hover{
    color:greenyellow;
    -webkit-box-reflect: below
    1px linear-gradient(transparent,#0005);
    box-shadow: 0 0 5px #325237, 
    0 0 15px #a89ec3,
     0 0 25px #b18462, 
    0 0 100px #325237;
}

.text-overlay-four{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 24%; 
    left: 17%;
    transform: translate(-10%, -70%);
    text-align: center;
    color:white;
    font-size: 20px; 
    padding: 10px;
}
.font{
    font-size:30px;
    display: flex;
    justify-content: center;
    padding: 50px;
   font: bolder;
    font-family: bona nova sc;
}

.font-box{
    margin-left: 17%;
    height: 100px;
    width: 50%;
    padding: 7%;
    text-align: center;
    border: 2px solid black;
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89,1);
}
.font-content{
    font-size: 30px;
    text-align: center;
    font: bolder;
    font-family: bona nova sc;
}
.font-content-inside{
    text-align: center;
}
.story-explore{
    padding: 0  15px;
    font-size: 20px;
    left:30% ;
    transform: translate(-250%);
    color: black;
}
.story-explore:hover{
    padding: 0  15px;
    font-style: italic;
    font-size: 20px;
    background: transparent;
    box-shadow: 0 0 10px 3px #283737;
}
.footer{
    font-size: 30px;
    text-align: center;
    font: bolder;
    font-family: bona nova sc;
}
div p{
    text-align: center;
    margin: 2px;
}
.address-box{
    text-align: center;
    margin: 10px;
}
